.container {
  max-width: 375px;
  margin: 0 auto;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  padding: 16px 8px;
  display: flex;
  flex-direction: column;

  .header {
    flex: 0 0 auto;

    .boxHead {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      .btnBack {
        justify-content: flex-start;
        width: 77.55px;
      }

      .descrStep {
        padding: 9.5px 10.75px;
        border-radius: 6px;
        border: 0.75px solid var(--step-color);
        display: flex;
        align-items: center;

        .svgStep {
          margin-right: 4.5px;
        }

        .step {
          color: var(--step-color);
        }
      }
    }
  }

  .main {
    flex: 1 1 auto;
    overflow-y: auto;
    border-radius: 0 0 16px 16px;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .svg {
      display: flex;
      margin-bottom: -1px;
    }

    .boxContent {
      background-color: var(--white);
      border-radius: 0 0 16px 16px;
      padding: 0 16px 20px 16px;

      .noQuiz {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .titleNoQuiz {
          font-weight: 500;
          font-size: 20px;
          line-height: 110%;
          text-align: center;
          margin-bottom: 30px;
        }

        .descrNoQuiz {
          font-weight: 500;
          font-size: 16px;
          line-height: 110%;
          text-align: center;
        }
      }
    }
  }

  .main::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari и Opera */
  }

  .footer {
    flex: 0 0 auto;
    padding-top: 30px;
    padding-bottom: 8px;

    .mainBtn {
      border-radius: 16px;
      width: 100%;
      padding: 19px;
      font-weight: 500;
      font-size: 18px;
      line-height: 111%;
      text-align: center;
      color: var(--btn-text);
      background-color: var(--primary-color);
    }
  }
}
